.home h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.home h4 {
    text-align: center;
}

.home p {
    margin-top: 1rem;
}

.home p {
    color: #fff;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}